body {
    background-color: black;
    margin: 0px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
    padding: 0px 20px;
    margin-top: 60px;
    margin-bottom: 100px;   
}

.about-us {
    flex: 55%;
    max-width: 710px;
}

.contacts {
    flex: 45%;
    max-width: 600px;
}

.about-us img {
    margin-top: 24px;

    max-width: 100%;
    height: auto;
}

.problem-img {
    position: relative;
    bottom: 10px;
}

@media screen and (max-width: 1235px) {
    .flex-container {
        flex-direction: column-reverse;
        margin: 60px 20px;
        padding: 0px;
    }

    .about-us {
        margin-top: 80px;
    }

    .contacts {
        width: 100%;
        max-width: none;
    }
}

.option {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.option-text h3 {
    margin: 10px 0px;
    margin-top: 32px;
}

.option-text p {
    margin: 0px;
}

#contacts-header {
    margin-bottom: 0px;
}

h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: rgba(255, 255, 255, 0.9);

    margin-top: 0px;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.9);
}

h3 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.9);
}