.footer {
    border-top: 1px solid rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    height: fit-content;
    background-color: black;
    padding: 0px 50px;
}

.footer .comp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-comp-name {
    border-right: 1px solid rgba(208, 208, 207, 1);
    padding-right: 6px
}

.footer ul {
    display: flex;
    align-items: center;
    list-style: none;

    padding: 0px;
    gap: 30px;
}

.footer .comp p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.011em;
    text-transform: uppercase;
    color: rgba(208, 208, 207, 1);
    
    height: fit-content;
    margin-left: 6px;
}

.footer ul a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #D0D0CF;
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;

        padding: 0px 20px;
    }

    .footer .comp {
        justify-content: center;
        border-top: 1px solid rgba(160, 162, 158, 1);
    }

    .footer ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
