.footer {
    border-top: 1px solid rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    height: fit-content;
    background-color: black;
    padding: 0px 20px;
}

.footer .comp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-comp-name {
    border-right: 1px solid rgba(208, 208, 207, 1);
    padding-right: 6px
}

div.un-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.footer .row-bottom {
    padding-left: 0px;
}

@media screen and (max-width: 1200px) {
    .footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }

    .footer .comp {
        justify-content: center;
        border-top: 1px solid rgba(160, 162, 158, 1);
    }

    .footer ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .row-top {
        margin-right: 0px;
        padding-left: 0px;
    }
}

@media screen and (max-width: 830px) {
    div.un-list {
        flex-direction: column;
    }

    .row-top {
        display: block;
        margin-bottom: 0px;
    }

    .footer ul li {
        margin: auto 0px;
    }
}

.footer .comp p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.011em;
    text-transform: uppercase;
    color: rgba(208, 208, 207, 1);
    
    height: fit-content;
    margin-left: 6px;
}

.footer ul a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #D0D0CF;
    text-decoration: none;
}

.footer ul li {
    margin: 0px 25px;
}