body {
    margin: 0px;
}

.container {
    background-image: url(images/background.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: scroll;
    background-position-y: top;

    transition: 2s;
}

@media screen and (max-width: 1200px) {
    .container {
        background: none;
    }
}

.part-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    max-width: 940px;
    margin: auto;
}

h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    text-align: center;
    color: #111113;   
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.011em;
    color: rgba(0, 0, 0, 0.8)
}

.smooth-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #A0A29E;

    background-color: black;
    border: none;
    border-radius: 8px;

    display: flex;
    align-items: center;
    margin: 40px auto 0px auto;
    padding: 19px 27px 19px 19px;

    width: fit-content;
}

.smooth-button img {
    margin-left: 13px;

    width: 24px;
    height: 24px;
}

.part-2 {
    background-color: black;

    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 50px;

    padding-left: 30px;
    padding-bottom: 60px;
    margin-top: 50px;

    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: none;
}

.part-2-small {
    display: none;
}

.part-2-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 50px;
}

.part-2-main .advantages-list {
    max-width: 800px;
    flex: 60%;

    display: flex;
    flex-direction: column;

    position: relative;
    left: 5%;
}

.part-2-main .advantage {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    text-align: left;

    gap: 30px;
}

.part-2-main-img {
    border-radius: 40px;
    border: 2.7841px solid #FFFFFF;

    height: fit-content;
    padding: 10px;

    display: flex;
    text-align: center;
    justify-content: center;

    position: relative;
    left: 10%;
}

.part-2-main-img img {
    max-width: 100%;
    height: auto;

    margin: auto;
    border-radius: 20px;
}

.part-2 .top-text {
    position: relative;
    left: 5%;
    margin-right: 10%;
}

.part-2 .top-text h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}

.part-2 .top-text p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.011em;
    color: #FFFFFF;

    text-align: center;
    margin: auto;
    max-width: 920px;
}

.part-2-main h3 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;

    margin-top: 0px;
}

.part-2-main p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

@media screen and (max-width: 1000px) {
    .part-2-big {
        display: none;
    }

    .part-2-small {
        width: 100%;
        border-radius: 0px;
        display: block;
        padding: 0px;
    }

    .part-2-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        gap: 20px;
    }

    .part-2-top-text {
        flex: 50;
    }

    .part-2-main-img {
        flex: 50%;
        position: static;
    }

    .part-2-main {
        padding: 20px;
    }

    .part-2-main .advantages-list {
        position: static;
    }

    .part-2-top-text h1 {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 60px;
        text-align: left;
        color: #FFFFFF;
    }
    
    .part-2-top-text p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        text-align: left;
        letter-spacing: -0.011em;
        color: #FFFFFF;
    
        margin: auto;
        max-width: 920px;
    }
}

@media screen and (max-width: 700px) {
    .part-2-top {
        flex-direction: column;
    }
}

.part-3-text {
    justify-content: center;
    text-align: center;

    max-width: 940px;
    margin: auto;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    width: 80%;
    margin: auto;
}

.card {
    flex-grow: 1;
    padding: 50px;
    width: 300px;
    min-height: 500px;
    
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border: none;
    border-radius: 18px;
}

.card .smooth-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    padding: 0px;

    margin: 0px;
    margin-top: auto;
}

.card .card-repr {
    width: 80px;
    width: 80px;
}

.card p {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;    
    color: #FFFFFF;   
}

.card ul {
    padding-left: 13px;
}

.card li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.big-card {
    width: 80%;
    padding: 60px 0px;

    margin: 50px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    
    background: black;
    border-radius: 18px;  
}

.big-card .steps {
    width: 85%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.big-card .steps .step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big-card .step img {
    border: none;
    border-radius: 10px;
}

.big-card .next-step-img {
    width: 40px;
    height: 25px;

    position: relative;
    bottom: 20px;
}

@media screen and (max-width: 800px) {
    .big-card {
        width: 100%;
        border-radius: 0px;
    }
}

@media screen and (max-width: 620px) {
    .big-card .steps {
        flex-direction: column;
        gap: 30px;
    }

    .big-card .next-step-img {
        position: static;
        transform: rotate(90deg);
    }

    .big-card p {
        margin-bottom: 0px;
    }
}

.big-card h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;

    margin: 0;
}

.big-card p {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;    
    color: #FFFFFF;   
}

.big-card button {
    margin-top: 0px;
    background-color: white;
    color: black;
}

.part-4 {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-evenly;

    gap: 20px;
    padding: 10px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1100px) {
    .part-4 {
        flex-direction: column;
        padding: 50px;
    }
}

.part-4 .clients-logo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 60px;
}

@media screen and (max-width: 830px) {
    .part-4 .clients-logo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.text-left {
    margin: auto 0px;
}

.text-left h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;

    text-align: left;
}

.part-4 .clients-logo img {
    width: 200px;
    height: 80px;
}

.part-5 {
    background-color: black;

    width: 85%;
    margin-left: auto;
    margin-bottom: 100px;
    margin-top: 50px;

    padding-left: 30px;
    padding-bottom: 60px;
    padding-top: 50px;

    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: none;
}

.part-5-small {
    display: none;
}

.part-5-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.part-5-main .qas {
    max-width: 700px;
    flex: 60%;

    position: relative;
    right: 5%;
}

.part-5-main-img {
    border-radius: 40px;
    border: 2.7841px solid #FFFFFF;

    height: fit-content;
    padding: 20px;

    display: flex;
    text-align: center;
    justify-content: center;

    position: relative;
    right: 15%;
}

.part-5-main-img img {
    max-width: 100%;
    height: auto;

    margin: auto;
    border-radius: 20px;
}

.part-5-main .more {
    margin-top: 60px;
}

.qas h3 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.9);
}

.more h3 {
    font-weight: 900;
}

.qa p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
   color: rgba(255, 255, 255, 0.9);
}

.part-5 .top-text h1,
.part-5-small .top-text h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: white;

    margin: 0px;
    margin-bottom: 45px;
}

@media screen and (max-width: 1000px) {
    .part-5-big {
        display: none;
    }

    .part-5-small {
        display: block;
        background-color: black;

        padding: 20px;
        margin-bottom: 100px;
    }

    .part-5-small .top-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .part-5-small-main-img {
        border-radius: 40px;
        border: 2.7841px solid #FFFFFF;
        height: fit-content;
        padding: 20px;
    
        display: flex;
        text-align: center;
        justify-content: center;
    }
    
    .part-5-small-main-img img {
        max-width: 100%;
        height: auto;
        margin: auto;
        border-radius: 20px;
    }

    .part-5-small .top-content .top-text h1 {
        text-align: left;
    }

    .qas .more {
        margin-top: 60px;
    }
}

@media screen and (max-width: 700px) {
    .part-5-small .top-content {
        flex-direction: column;
    }
}

.part-6 {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;
}

@media screen and (max-width: 800px) {
    .part-6 {
        flex-direction: column;
        gap: 20px;
        padding: 0px;
    }
}

.part-6-text-left button {
    margin-left: 0px;
}

.gallery-right {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 15px;
    padding: 20px 0px; 
}

.review-img {
    border-radius: 20px;
    border: none;

    max-width: 50%;
    height: auto;
}

.part-6-text-left h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;

    text-align: left;
}

.part-6-text-left button {
    background-color: white;
    color: black;
}

.gallery-right button {
    flex-shrink: 0;

    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.prev-btn img {
    transform: rotate(180deg);
}

.part-7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    max-width: 940px;
    margin: auto;
    margin-bottom: 75px;
    margin-top: 35px;
}

.part-7 h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 48px;
    }
}