body {
    margin: 0px;
    background-color: black;
}

.container {
    padding: 70px 30px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .container-error-text {
    flex: 50%;
    margin-right: 80px;
    max-width: 600px;
}

.container-error-image img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 950px) {
    .container {
        display: flex;
        flex-direction: column;
        padding-bottom: 60px;
        padding-top: 70px;
    }

    .container .container-error-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin: 0px;
        margin-bottom: 40px;
    }

    .container-error-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.container h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    color: rgba(255, 255, 255, 0.9);
}

.container p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;    
    color: rgba(255, 255, 255, 0.9);

    margin-top: 20px;
}

.container button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;

    background-color: white;
    border: none;
    border-radius: 8px;

    display: flex;
    align-items: center;
    margin-top: 40px;
    padding: 19px 27px 19px 19px;

    cursor: pointer;
}

.container button img {
    margin-left: 13px;
}
